.mantener-informado-cont{
    background-color: $gray-100;
}
.mantener-informado{
    padding-top: 4em;
    
    @include desde(lg){
        height: 550px;
    }
    &__header{
        padding: 2em 0;
        display: flex;
        justify-content: center;
    }
    &__title{
        color: $gray;
        font-size: 35px;
        margin: 0;
        font-family: $NovaBold;
        @include desde(xs){
            font-size: 45px;
        }
    }
    &__notice{

    }
    &__list{
        display: flex;
        flex-direction: column;
        @include desde(sm){
            flex-direction: row;
            padding: 20px 0;
        }
    }
    &__item{
        border-top: solid 1px white;
        margin-bottom: 10px;
        &:nth-child(1){
            border-top: 0;
        }
        @include desde(sm){
            border-top: 0;
            border-left: solid 1px white;
            margin-left: 20px;
            padding-left: 20px;
            &:nth-child(1){
                margin-left: 0;
                border-left: 0;
                padding-left: 0;
            }
        }
        @include desde(md){
            margin-left: 40px;
            padding-left: 40px;
        }
    }
    &__fecha{
        padding-top: 2em;
        font-family: $NovaBold;
        font-size: 13px;
        color: $gray;
        text-transform: uppercase;
        margin: 0;
        @include desde(sm){
            padding-top: 0;
        }
    }
    &__noticia{
        font-family: $NovaLight;
        font-size: 22px;
        margin: 0;
        color: $gray-300;
        line-height: 1.10;
        letter-spacing: 0.50px;
        margin-top: 10px;
    }
    &__mas{
        font-family: $NovaBold;
        font-size: 14px;
        margin-top: 4em;
        @include desde(sm){
            margin-bottom: 0;
        }
        @include desde(md){
            margin-top: 3em;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        color: $gray;
        span{
            margin-left: 10px;
            font-size: 16px;
        }
    }
    &__blog{
        display: flex;
        justify-content: center;
        padding-bottom: 2em;
        @include desde(sm){
            padding-top: 1em;
            padding-bottom: 4em;
        }
    }
    &__btn{
        width: 150px;
        height: 50px;
    }
}