@charset "UTF-8";

@font-face {
  font-family: "NovaLight";
  src:url("../assets/fonts/PROXIMANOVA-LIGHT_1.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NovaRegular";
  src:url("../assets/fonts/PROXIMANOVA-REGULAR_1.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NovaSemibold";
  src:url("../assets/fonts/PROXIMANOVA-SEMIBOLD_1.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Novabold";
  src:url("../assets/fonts/PROXIMANOVA-BOLD_1.otf");
  font-weight: normal;
  font-style: normal;
}