@function nounit($numero){
		$unit: ($numero * 0) + 1;
		$no-unit: $numero / $unit;
		@return $no-unit;
}

@function img($url){
    @return url("../assets/img/#{$url}");
}

@function em($child, $parent:16px){
    @return $child / $parent * 1em;
}

@function rem($child, $parent:16px){
    @return $child / $parent * 1rem;
}