.container-fluid{
    width: 100%;
}
.container{
    width: 90%;
    margin: 0 auto;
   // position: relative;
    @include desde(lg){
        max-width: 1200px;
    }
}
.relative{
    position: relative;
}

