//Colors
$yellow: #FFC300;
$gray: #545146;
$gray-100: #EAEAEA;
$gray-200:#E5E5E5;
$gray-300:#9EA1A2;
$black:#020202;

//Fonts
$NovaLight: "NovaLight";
$NovaRegular: "NovaRegular";
$NovaSemi: "NovaSemibold";
$NovaBold:  "Novabold";
