.como-comprar{
    display: none;
    background-color: white;
    &.active{
        display: block;
    }
    @include desde(md){
        padding-top: 10px;
    }
    &__title{
        color: $gray;
        font-size: 30px;
        @include desde(md){
            font-size: 36px;
        }

        @include desde(xl){
            font-size: 42px;
        }
    }
    &__pasos{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @include desde(md){
           // margin-top: 50px;
        }
    }
    &__paso{
        display: flex;
        margin-bottom: 30px;
    }
    &__numero{
        padding: 0 10px;
    }
    &__num{
        width: 30px;
        height: 30px;
        background-color: $yellow;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-family: $NovaBold;
        color: $gray;
        font-size: 14px;
    }
    &__textos{
        display: flex;
        flex-direction: column;
        @include desde(md){
            margin-left: 20px;
        }
    }
    &__titulo{
        margin: 0;
        margin-bottom: 10px;
        color: $gray;
        font-family: $NovaSemi;
        font-size: 16px;
        @include desde(lg){
            font-size: 20px;
        }
        @include desde(xl){
            font-size: 24px;
        }
    }
    &__descripcion{
        margin: 0;
        color: $gray;
        font-size: 14px;
        line-height: 1.2;
        @include desde(lg){
            font-size: 16px;
        }
        @include desde(xl){
            font-size: 20px;
            line-height: 1.3;
        }
    }
}
