.post-venta{
    display: none;
    background-color: white;
    &.active{
        display: block;
    }
    @include desde(md){
        padding-top: 10px;
    }
    &__title{
        color: $gray;
        font-size: 30px;
        @include desde(md){
            font-size: 36px;
        }

        @include desde(xl){
            font-size: 42px;
        }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
    }
}
