.proyecto-entregados{
  &__tab-header{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    margin-top: -20px;
    text-align: center;
    &__link{
      width: 260px;
      height: 70px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
      font-family: $NovaBold;
      font-size: 14px;
      padding: 0px 10px;
      box-sizing: border-box;
      position: relative;
      // box-shadow: $gray 2px 2px 2px;
      &:after{
        content: '';
        width: 70%;
        height: 2px;
        background-color: $yellow;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
      }
      &:first-child{
        border-radius: 3px 0px 0px 3px;
      }
      &:last-child{
        border-radius: 0px 3px 3px 0px;
      }
      &.active{
        &:after{
          opacity: 1;
        }
      }
      &:hover{
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &__items-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
    justify-content: flex-start;
    &__item{
      width: 290px;
      padding: 0px 5px;
      box-sizing: border-box;
      margin: 10px 0;
      &__name{
        font-family: $NovaBold;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 0;
      }
      &__dist{
        font-family: $NovaLight;
        font-size: 14px;
        margin-top: 5px;
      }
      &__direc{
        font-family: $NovaSemi;
        font-size: 14px;
      }
      &__image{
        position: relative;
        height: 300px;
        width: 100%;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        &__hover{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: .4);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: -1;
          opacity: 0;
        }
      }
      &:hover{
        .proyecto-entregados__items-content__item__image__hover{
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}