.elige{
  background-color: $gray-100;
  padding: 100px 0px;
  &__table{
    width: 970px;
    margin: 0 auto;
    &__title{
      font-size: 40px;
      font-family: $NovaBold;
      margin-bottom: 50px;
      color: $gray;
    }
    &__header{
      height: 50px;
      background-color: $yellow;
      display: flex;
      line-break: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: row;
      &__tr{
        width: 165px;
      }
    }
    &__row{
      height: 109px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      &__tr{
        width: 165px;
        height: 100%;
        border-right: solid 1px $gray-100;
        border-bottom: solid 1px $gray-100;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-gray{
          width: 120px;
        }
        &:nth-child(0n + 1){
          border-left: solid 1px $gray-100;
        }
      }
    }
  }
}