.gallery__box {
  background: #494949;
}

.gallery__box__container {
  max-width: 1038px;
  margin: auto;
  padding: 33px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery__title {
  width: 35%;
}

.gallery__title__box {
  display: inline-block;
  position: relative;
  h3 {
    font-family: "ProximaNova-Light", sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-left: 30px;
  }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 1px;
  //   height: 35px;
  //   top: -18px;
  //   left: 18px;
  //   background: #fff;
  //   -webkit-transform: rotate(45deg);
  //   transform: rotate(45deg);
  // }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 1px;
  //   height: 35px;
  //   bottom: -15px;
  //   right: -15px;
  //   background: #fff;
  //   -webkit-transform: rotate(45deg);
  //   transform: rotate(45deg);
  // }
}

.gallery__box__btn {
  width: 65%;
  margin: auto;
  text-align: right;
}

.tab--display {
  margin: 0px 8px;
  &.active {
    background-color: #fff;
    color: #4C4C41;
  }
}

.btn-general {
	font-size: 14px;
	font-family: "ProximaNova-Bold", sans-serif;
	text-transform: uppercase;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	border: none;
	cursor: pointer;
}
.btn-white {
	width: 160px;
	background: transparent;
	color: #fff;
	padding: 14px 0px;
	border: 1px solid #fff;
	text-align: center;
}
@media screen and (min-width: 1024px){
	.btn-white:hover {
			background: #fff;
			color: #4C4C41;
	}
}

.gallery__items__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  &.active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

.gallery__item {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 452px;
  position: relative;
  display: none;
  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
    width: 50%;
    display: inline-block;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  img {
    display: none;
  }
}

.gallery__hover {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(85, 84, 70, 0.4)), to(rgba(85, 84, 70, 0.4)));
  background: linear-gradient(to bottom, rgba(85, 84, 70, 0.4) 0%, rgba(85, 84, 70, 0.4) 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gallery_icon_hover {
  color: #4C4C41;
  background-color: #fff;
  border-radius: 100%;
  width: 0px;
  height: 0px;
  margin: auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  .icon__hover {
    padding: 12px;
    font-size: 0px;
  }
}

.gallery__img:hover {
  .gallery__hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .gallery_icon_hover {
    width: 50px;
    height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    .icon__hover {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .gallery__item {
    height: 350px;
  }
}

@media screen and (max-width: 980px) {
  .gallery__item {
    height: 320px;
  }
  .gallery__title {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
  }
  .gallery__box__btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .gallery__slick__btn {
    display: none;
  }
  .gallery__content {
    overflow: hidden;
    position: relative;
  }
  .gallery__item {
    height: 300px;
  }
  .gallery__items__box {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
  .gallery__title__box h3 {
    font-size: 26px;
  }
  .tab--display {
    margin: 5px 8px;
  }
}

@media screen and (max-width: 400px) {
  .tab--display {
    width: 260px;
    margin: 5px 8px;
  }
  .gallery__title__box {
    h3 {
      padding-left: 0px;
    }
    &:before {
      left: -18px;
    }
  }
}