.pbanner{
  height: 650px;
  position: relative;
  background-position: center;
  background-size: cover;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .3);
    position: absolute;
    top:0;
    left: 0;
  }
  &__content{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    &__left{
      color: #fff;
      font-size: 40px;
      font-family: $NovaBold;
      max-width: 500px;
    }
    &__box{
      position: absolute;
      background-color: #fff;
      right: 0;
      bottom: -30px;
      width: 243px;
      box-sizing: border-box;
      border-radius: 3px;
      &__top{
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        &__item{
          height: 88px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          box-sizing: border-box;
          border-bottom: solid 1px $gray-100;
          width: 100%;
          img{
            max-width: 120px;
            height: auto;
          }
          p{
            font-size: 11px;
            font-family: $NovaLight;
            margin: 0;
            margin-bottom: 10px;
          }
          strong{
            font-size: 25px;
            font-family: $NovaBold;
          }
          small{
            font-size: 11px;
            font-family: $NovaLight;
          }
        }
      }
      &__bottom{
        height: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        background-color: $yellow;
      }
    }
  }

}
