.certificado-container{
    padding-bottom: 20px;
    @include desde(lg){
        height: 500px;
    }  
}
.certificado{
    @include desde(lg){
        display: flex;
        height: 100%;
    //    justify-content: space-between;
    }
    &__cont-title{
        display: flex;
        align-items: center;
        justify-content: center;
        @include desde(lg){
            flex-wrap: wrap;
            flex: 220px 0 0;
            justify-content: flex-start;
        }
        .flecha-izquierda{
            margin-right: 20px;
             font-size: 20px;
            color: $gray-300;
            cursor: pointer;
            padding: .5em;
            &:hover{
                color: $gray;
            }
            @include desde(lg){
                flex: auto 0 0;
                order: 1;
                display: flex;
                justify-content: center;
                margin-top: -250px;
                padding: 1em 1em 1em 0;
                margin-right: 0;
            }
        }
        .flecha-derecha{
            margin-left: 20px;
            font-size: 20px;
            color: $gray-300;
            cursor: pointer;
            padding: .5em;
            &:hover{
                color: $gray;
            }
            @include desde(lg){
                flex: auto 0 0;
                order: 1;
                display: flex; 
                justify-content: center;
                margin-top: -250px;
                padding: 1em;
                margin-left: 0px;
            }
        }
    }
    &__title{
        font-size: 30px;
        font-family: $NovaBold;
        color: $gray;
        text-align: center;
        @include desde(lg){
            text-align: left;
            font-size: 40px;
            order: 0;
            flex: 100% 0 0;
        }
    }
    &__cont-obtenidos{
        display: flex;
        justify-content: center;
        @include desde(lg){
            margin-left: 100px;
            justify-content: flex-end;
            align-items: center;
            flex: auto 1 0;
        }
    }
    &__list{
        width: 260px;
        min-height: 400px;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        @include desde(sm){
            flex: 540px 0 0;
            justify-content: flex-start;
        }
        @include desde(md){
            flex: 800px 0 0;
            height: 370px;
        }
        @include desde(lg){
            margin-top: 120px;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        flex: 260px 0 0;
        margin-right: 20px;
    }
    &__cont-img{

    }
    &__contenido{

    }
    &__titulo{
        font-size: 22px;
        font-family: $NovaSemi;
        color: $gray;
    }
    &__descripcion{
        font-family: $NovaLight;
        font-size: 19px;
        color: $gray;
        line-height: 1.40;
    }
}