.valores-container{
    
}
.valores{
    display: flex;
    flex-direction: column;
    @include desde(sm){
        flex-direction: row;
    }

    @include desde(md){
         height: 400px;
    }
    &__content-title{
        @include desde(md){
            margin-top: 50px;
        }
    }
    &__title{
        font-size: 30px;
        font-family: $NovaBold;
        color: $gray;
        text-align: center;
        @include desde(sm){
            text-align: left;
            margin: 0;
        }
        @include desde(md){
            width: 170px;
        }
    }
    &__content-valores{
        @include desde(sm){
            margin-left: 20px;
        }
        @include desde(md){
            margin-top: 50px;
        }
        @include desde(lg){
            flex: auto 1 0;
            margin-left: 80px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        @include desde(xs){
            flex-direction: row;
        }
        @include desde(md){
            margin: 0;
        }
        @include desde(lg){
            justify-content: space-between;
        }
    }
    &__item{
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        @include desde(sm){
            padding: 0;
        }
        @include desde(lg){
            width: 280px;
        }
    }
    &__img{
        width: 60px;
        height: auto;
        margin-left: 10px;
        display: flex;
        align-items: center;
    
    }
    &__nombre{
        color: $gray;
        font-size: 19px;
        font-family: $NovaBold;
        padding-left: 10px;
    }
    &__descripcion{
        color: $gray;
        font-size: 16px;
        font-family: $NovaLight;
        margin: 0;
        padding: 0 10px;
        line-height: 1.4;
    }
}